*{
    box-sizing: border-box;
}



body{
box-sizing: border-box;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 0;

}


nav{
    background-color: #333;
    margin-top: 0;
}


h1 {
    text-align: center;
}


nav ul {
    position: relative;
}

nav ul li {
display: inline-block;
padding: 20px;

}




nav ul li a {
   position: absolute;
   color: gray;
   text-decoration: none;
font-weight: bold;

}

 
 footer {
   
    font-size: 50px;
    margin: 5vw 2vw;
} 